.setProfile {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(215, 235, 215);
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .btn:hover {
    background-color: rgb(34, 25, 117);
    color: white !important;
  }
  .horizontal-scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .horizontal-scroll-content {
    display: inline-block;
  }

  .small-input {
    
    width: 100px;
  }
 
  