.box {
    border: 1px solid rgb(219, 217, 217);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    height: 298px;
    margin-bottom: 30px;
  }
  .img {
    border: 1px solid rgb(219, 217, 217);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
  .form-label {
    text-align: start;
    margin-left: 30px;
    margin-top: 25px;
  }
.btn{
    background-color: #002147;
}  
.form-controll{
    margin-left: 30px;

}
.signup-formm{
    width: 60%;
    height: 60%;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
}
.alert{
margin-right:7%;
margin-top: 15px;

}