.errorSection {
    background-color: rgb(255, 0, 0);
    border-radius: 20px;
  }
  
  .form-container{
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; */
    background: linear-gradient(to bottom, rgb(190, 181, 199), #002147); /* Gradient from blueviolet to #8a2be2 */
    
}
.signup-form{
    border: 1px solid rgb(219, 217, 217);

    border-radius: 15px;
    padding: 30px;
    width: 70%;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.2) ;

    
}
.logForm {
   
}
.hello{
    border: black;
}
  